body {
	font: 14px맑은 고딕;
}
.container {
	position: absolute;
	width: 960px;
	margin: 0p auto;
	background-color: #FFF;
	border: 1px solid #E7E7E7;
}
header {
	position: relative;
	height: 280px;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	background-position: left top;
}
header h1 {
	position: absolute;
	right: 20px; 
	bottom: 70px;
	font-size: 3em;
	color: #FFC;
	
	/* position: relative;
	font-size: em;
	color: #FFC; */
}
header h2 {
	position: relative;
	color: #FF0;
	text-shadow: 0px 1px 1px #000;
}
.navi {
	position: relative;
	background: #CCC;
	margin-top: 5px;
	width: 960px;
	height: 60px;
}
.navi ul *{
	list-style: none;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.navi ul li {
	display: inline;
	float: left;
	font-size: 15px;
}

.navi a, .navi a:visited {
	padding: 10px 5px 5px 35px;
	color: #FFF;
	text-decoration: none;
}

.navi a:hover {
	padding: 10px 5px 5px 35px;
	color: yellow;
	text-decoration: none;
}









